<!--<course></course>-->
<!--<authors></authors>-->
<!--<pipes-demo></pipes-demo>-->
<div>
  <app-nav-tab></app-nav-tab>
  <bootstrap-card>
    <ng-container class="header">
      Header
      <favourite [is-favourite]="post.isFavourite" (change)="onFavouriteChange($event)"></favourite>
    </ng-container>
    <h5 class="title">Title</h5>
    <h6 class="subtitle">subtitle</h6>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Consequatur, iure, reprehenderit! Dolor ipsa
      ipsam necessitatibus nisi placeat qui quos ullam.
    </p>

  </bootstrap-card>
  <like [is-active]="tweet.isLiked"
        [like-count]="tweet.likesCount"
  >
  </like>
  <title-case></title-case>
  <app-product [listOfProducts]="productList">
  </app-product>
  <button class="btn btn-primary" (click)="AddProduct()">Add Hoodie</button>

  <div>
<!--    <span  >{{post?.title}}</span>-->
    <span  >{{post.title}}</span>
  </div>
</div>

<input type="text" appInputFormat >

<zippy [heading]="'Shipping Details'">
  <div class="description">
    shipping address
    product
  </div>
</zippy>
<zippy [heading]="'Billing Details'">
  <div class="description ">
    Billing address
    billing amount
  </div>
</zippy>
<my-form></my-form>
<course-form></course-form>
<app-signup-form></app-signup-form>




